####  탐색적 데이터 분석과정


1. 데이터의 출처와 주제에 대해 이해
2. 데이터의 크기 확인
3. 데이터 구성 요소(feature)의 속성(특징) 확인
    - feature: 데이터 구성 요소를 위미함
    - 예: 어떤 초등학교에 학생 성적을 기록한 데이터가 있다면, 학생 이름, 과목별 성적등을 feature로 볼 수 있음 (가볍게 field/column 이라고 봐도 무방함)

#### 데이터
- 브라질에서 가장 큰 백화점의 이커머스 쇼핑몰 (https://olist.com/solucoes/distribuidoras-e-lojas-de-bebidas/)
  - 2016년도부터 2018년도 100k 개의 구매 데이터 정보
  - 구매 상태, 가격, 지불수단, 물류 관련, 리뷰관련, 상품 정보, 구매자 지역 관련 정보

- 데이터셋 (dataset)
  - olist_customers_dataset.csv
  - olist_geolocation_dataset.csv
  - olist_order_items_dataset.csv
  - olist_order_payments_dataset.csv
  - olist_order_reviews_dataset.csv
  - olist_orders_dataset.csv
  - olist_sellers_dataset.csv
  - olist_products_dataset.csv

> 일반적으로 현업에서는 하이브(HIVE), MySQL(SQL), mongodb(NoSQL) 등 데이터를 저장/관리하는 데이터베이스에서 SQL 과 유사한 형태의 명령을 통해 데이터셋을 만드는 것이 일반적임

- **수치형 데이터**
    1. 연속형
    2. 이산형
    
    
    - 요약 : 다섯수치 (박스)
    - 분포파악 (히스토그램)
    



- **범주형 데이터**
    1. 명목형
    2. 순서형
    
    
    - 수준(level)별 데이터 분류
    - 수준별 데이터 개수 > unique(), size, count() [데이터X빼고], value_count() [행?별 count]
    - 절대빈도 (막대), 상대빈도 (원)
    iplot(kind='pie') 시에는 labels에 lavels(수준)으로 분류될 컬럼명, values에 각 수준(분류)의 값이 될 카운트값을 가진 컬럼명을 넣워줘야 함



- **※시계열 데이터**

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="3em" style="font-weight:bold;color:#3f8dbf;">탐색적 데이터 분석: 1. 데이터의 출처와 주제에 대해 이해</font><br>

### 전체 판매 프로세스
1. 해당 쇼핑몰에 중소업체가 계약을 맺고
2. 중소업체가 해당 쇼핑몰에 직접 상품을 올리고
2. 고객이 구매하면, 중소업체가 Olist가 제공하는 물류 파트너를 활용해서 배송을 하고,
3. 고객이 상품을 받으면, 고객에게 이메일 survey 가 전송되고,
4. 고객이 이메일 survey 에 별점과 커멘트를 남겨서 제출하게 됨
    
### 데이터 출처
- 브라질에서 가장 큰 백화점의 이커머스 쇼핑몰 (https://olist.com/)
  - 2016년도부터 2018년도 100k 개의 구매 데이터 정보
  - 구매 상태, 가격, 지불수단, 물류 관련, 리뷰관련, 상품 정보, 구매자 지역 관련 정보

### 주요 질문(탐색하고자 하는 질문 리스트)
- 얼마나 많은 고객이 있는가?
- 고객은 어디에 주로 사는가?
- 고객은 주로 어떤 지불방법을 사용하는가?
- 평균 거래액은 얼마일까?
- 일별, 주별, 월별 판매 트렌드는?
- 어떤 카테고리가 가장 많은 상품이 팔렸을까?
- 평균 배송시간은?
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="3em" style="font-weight:bold;color:#3f8dbf;">탐색적 데이터 분석: 2. 데이터의 크기 확인</font><br>
<font size="3em" style="font-weight:bold;color:#3f8dbf;">탐색적 데이터 분석: 3. 데이터 구성 요소(feature)의 속성(특징) 확인</font> 
<br>

- **수치형 데이터일 경우**에는 다음과 같이 EDA 5 수치 + 평균(mean) 확인  <br>
  - 최소값(minimum), 제1사분위수, 중간값(mediam)=제2사분위수, 제3사분위수, 최대값(maximum) + 평균(mean) 확인 <br>
  - 특잇값(outlier) 확인
  - 필요하면 boxplot 과 histogram 그려보기 


- **범주형 데이터일 경우**에는 각 수준별 갯수 세기<br>
  - 필요하면 절대 빈도(bar 그래프), 상대 빈도(원 그래프) 그려보기


- **시계열 데이터일 경우**에는 필요하면 line 또는 bar 그래프 그리기

- feature 간 상관관계 분석이 필요할 경우에는 heatmap 또는 scatter 그래프 그리기
</div>
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="3em" style="font-weight:bold;color:#3f8dbf;">  </font><br>
    
### 주요 질문(탐색하고자 하는 질문 리스트)
- **얼마나 많은 고객이 있는가?**
- **고객은 어디에 주로 사는가?**
- **고객은 주로 어떤 지불방법을 사용하는가?**
- 평균 거래액은 얼마일까?
- 일별, 주별, 월별 판매 트렌드는?
- 어떤 카테고리가 가장 많은 상품이 팔렸을까?
- 평균 배송시간은?
</div>

---
1. 고객 얼마나?

In [2]:
import pandas as pd

customers = pd.read_csv('00_data/olist_customers_dataset.csv', encoding = 'utf-8-sig')
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [3]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [9]:
len(customers['customer_id'].unique())

99441

In [10]:
len(customers['customer_unique_id'].unique())

96096

#### ㄴ value_count가 왜안됨?

---
2. 어디에 주로?

In [11]:
customers['customer_city'].count()

99441

In [13]:
customers['customer_city'].value_counts()

sao paulo                15540
rio de janeiro            6882
belo horizonte            2773
brasilia                  2131
curitiba                  1521
                         ...
barrocas                     1
governador mangabeira        1
sao carlos do ivai           1
sao felix do coribe          1
romelandia                   1
Name: customer_city, Length: 4119, dtype: int64

####  value_count's' 네

In [14]:
customers['customer_city'].head(20)

0                    franca
1     sao bernardo do campo
2                 sao paulo
3           mogi das cruzes
4                  campinas
5            jaragua do sul
6                 sao paulo
7                   timoteo
8                  curitiba
9            belo horizonte
10            montes claros
11           rio de janeiro
12         lencois paulista
13                sao paulo
14            caxias do sul
15               piracicaba
16           rio de janeiro
17                guarulhos
18                sao paulo
19                   pacaja
Name: customer_city, dtype: object

In [16]:
customers['customer_city'].value_counts().head(30)

sao paulo                15540
rio de janeiro            6882
belo horizonte            2773
brasilia                  2131
curitiba                  1521
campinas                  1444
porto alegre              1379
salvador                  1245
guarulhos                 1189
sao bernardo do campo      938
niteroi                    849
santo andre                797
osasco                     746
santos                     713
goiania                    692
sao jose dos campos        691
fortaleza                  654
sorocaba                   633
recife                     613
florianopolis              570
jundiai                    565
ribeirao preto             510
belem                      447
nova iguacu                442
barueri                    433
juiz de fora               427
contagem                   426
sao goncalo                409
mogi das cruzes            383
vitoria                    380
Name: customer_city, dtype: int64

In [3]:
import chart_studio.plotly as py
import cufflinks as cf

top30_city = customers[customers['customer_city'] in customers['customer_city'].value_counts().head(30)].copy()
top30_city.iplot(kind = 'bar')

TypeError: 'Series' objects are mutable, thus they cannot be hashed

#### 지금 city만 있는 시리즈에 value_counts를 한거니까 그래프가 안그려지지

In [10]:
customers_city = customers.groupby('customer_city')['customer_id'].count().sort_values(ascending = False)
#                                           groupby 후 행 선택시 위치
customers_city.head()

customer_city
sao paulo         15540
rio de janeiro     6882
belo horizonte     2773
brasilia           2131
curitiba           1521
Name: customer_id, dtype: int64

In [12]:
customer_city_top = customers_city.head(40)
customer_city_top

customer_city
sao paulo                15540
rio de janeiro            6882
belo horizonte            2773
brasilia                  2131
curitiba                  1521
campinas                  1444
porto alegre              1379
salvador                  1245
guarulhos                 1189
sao bernardo do campo      938
niteroi                    849
santo andre                797
osasco                     746
santos                     713
goiania                    692
sao jose dos campos        691
fortaleza                  654
sorocaba                   633
recife                     613
florianopolis              570
jundiai                    565
ribeirao preto             510
belem                      447
nova iguacu                442
barueri                    433
juiz de fora               427
contagem                   426
sao goncalo                409
mogi das cruzes            383
vitoria                    380
uberlandia                 374
piracicaba                 369
sao luis                   353
sao jose do rio preto      335
vila velha                 334
carapicuiba                328
maua                       323
campo grande               320
praia grande               316
londrina                   306
Name: customer_id, dtype: int64

In [15]:
import chart_studio.plotly as py
import cufflinks as cf
cf.go_offline(connected=True)

customer_city_top.iplot(kind = 'bar')

In [17]:
cf.help('bar')

Did you mean: "bar"?

BAR
Bar Chart
Supports categories and horizontal bar charts


Parameters:
===========
    bargap : float
        Sets the gap between bars
        	[0,1)
    bargroupgap : float
        Sets the gap between groups
        	[0,1)
    barmode : string
        Bar mode
        	group
        	stack
        	overlay
    categories : string
        Name of the column that contains the categories
    orientation : string
        Sets the orientation of the bars.
        	h
        	v
    sortbars : bool
        Sort bars in descending order


    colors : dict, list or string
        Trace color
        	string : applies to all traces
        	list : applies to each trace in the order specified
        	dict : {column:value} for each column in the dataframe
        values
        	colorname : see cufflinks.colors.cnames
        	hex : '#ffffff'
        	rgb : 'rgb(23,50,23)'
        	rgba : 'rgba(23,50,23,.5)
    colorscale : string
        Color scale name
        If the color is preceded by a minus (-)
        then the scale is inversed.
        Only valid if 'colors' is null.
        see cufflinks.colors.scales() for all available scales
    data : figure
        Plotly Figure
    rangeslider : bool or dict
        Defines if a range slider is displayed.
        If True : displays a range slider
        If dict : defines a range slider object
        Example:
        	{'bgcolor':('blue',.3),'autorange':True}
    text : string
        Name of the column that contains the text values
    width : int, list or dict
        Line width
        	int : applies to all traces
        	list : applies to each trace in the order specified
        	dict : {column:value} for each column in the dataframe

    ERROR BARS
        error_color : string
            Color for error bars
        error_opacity : float [0,1]
            Color opacity for the error bars
        error_thickness : float
            Sets the line thickness of the error bars
        error_trace : string
            Name of the DataFrame column for which error
            should be plotted. If omitted then errors apply to all traces.
        error_type : string
            Type of error bars
            	data
            	constant
            	percent
            	sqrt
            	continuous
            	continuous_percent
        error_values_minus : int, float or list
            Values corresponding to the span of the error bars
            below the trace coordinate
        error_width : int or float
            Sets the width (in pixels) of the cross-bar at both
            ends of the error bars
        error_x : int, float or list
            Error values for the x axis
        error_y : int, float or list
            Error values for the y axis

    LAYOUT
        layout : Plotly Layout
            If defined, this Layout is explicitly used for the Figure generation
        dimensions : tuple
            Dimensions for image/chart
            	(width,height)
        fontfamily : string
            HTML Font typeface that will be applied
            It needs to exist on the system on which it operates.
            Examples:
            	'Times New Roman'
            	'Open Sans'
            	'Monospace'
        gridcolor : string
            Sets the grid color
            	colorname : see cufflinks.colors.cnames
            	hex : '#ffffff'
            	rgb : 'rgb(23,50,23)'
            	rgba : 'rgba(23,50,23,.5)
        legend : string
            Defines where the legend should appear
            Values:
            	bottom
            	top
        margin : dict or tuple
            Sets the margin dimensions
            	{'l':left,'r':right,'b':bottom,'t':top}
            	(left,right,bottom,top)
        secondary_y : string
            Name of the column(s) to be charted on
            the secondary axis
        secondary_y_title : string
            Sets the title of the secondary axis
        showlegend : bool
            Defines if the legend should appear
        theme : string
            Layout theme
            	solar
            	pearl
            	white
            see cufflinks.getThemes() for all available themes
        title : string
            Chart title
        xTitle : string
            X Axis Title
        yTitle : string
            Y Axis Title
        zerolinecolor : string
            Sets the zero line color
            	colorname : see cufflinks.colors.cnames
            	hex : '#ffffff'
            	rgb : 'rgb(23,50,23)'
            	rgba : 'rgba(23,50,23,.5)
        layout_update : dict
            The Layout will be explicitly modified
            with the values stated in the dictionary.
            Not valid when Layout is passed as a parameter

    ANNOTATIONS
        annotations : dict
            Dictionary of annotations
            	{x_point : text}
        fontcolor : string
            Text color
        fontsize : int
            Text size
        textangle : int
            Text angle

    EXPORTS
        asFigure : bool
            If True then it returns a Plotly Figure
        asImage : bool
            If True then it returns an image (PNG)
            While in ONLINE mode:
            Image file is saved in the working directory
            	Accepts:
            		filename
            		dimensions
            		scale
            		display_image
            While in OFFLINE mode:
            Image file is downloaded (downloads folder) and a
            regular plotly chart is displayed in Jupyter
            	Accepts:
            		filename
            		dimensions
        asPlot : bool
            If True then the chart opens in a browser
        asURL : bool
            If True the chart url/path is returned.
            No chart is displayed.
            	If ONLINE : The URL is returned
            	If OFFLINE : the local path is returned
        display_image : bool
            If True, then the image is displayed
            after being saved.
            Only valid if 'asImage=True'
        filename : string
            Filename to be saved as
        online : bool
            If True then the chart/image is rendered on the server
            even when running in Offline mode
        scale : int
            Increase the resolution of the image by `scale` amount
            Only valid if 'asImage=True'
        sharing : string
            Sets the sharing level permission
            	public - anyone can see the chart
            	private - only you can see this chart
            	secret - only people with the link can see the chart

    SHAPES
        hline : float, list or dict
            Draws a horizontal line at the indicated 'y'
            position(s).
            Extra parameters can be passed in the form of a
            dictionary (see 'shapes')
            	hline=4
            	hline=[2,10]
            	hline=[{'y':2,'color':'blue'},{'y':3,'color':'red'}]
        hspan : tuple, list or dict
            Draws a horizontal rectangle at the indicated
            (y0,y1) positions.
            Extra parameters can be passed in the form of a
            dictionary (see 'shapes')
            	hspan=(1,5)
            	hspan=[(1,4),(6,10)]
            	hspan=[{'y0':2,'y1':5,'color':'blue','fill':True,'opacity':.4}]
        vline : float, list or dict
            Draws a vertical line at the indicated 'x'
            position(s).
            Extra parameters can be passed in the form of a
            dictionary (see 'shapes')
            	vline=4
            	vline=[2,10]
            	vline=[{'x':'2015-02-08','color':'blue'},{'x':'2015-03-08','color':'red'}]
        vspan : tuple, list or dict
            Draws a vertical rectangle at the indicated
            (x0,x1) positions.
            Extra parameters can be passed in the form of a
            dictionary (see 'shapes')
            	vspan=('2015-02-08','2015-03-08')
            	vspan=[(1,4),(6,10)]
            	vspan=[{'x0':2,'x1':5,'color':'blue','fill':True,'opacity':.4}]
        shapes : list or dict
            List of dictionaries with the specification
            of a given shape.
            For more information
            see help(cufflinks.tools.get_shape)

    SUBPLOTS
        horizontal_spacing : float [0-1]
            Space between subplot columns
        shape : (int,int)
            Indicates the size of rows and columns.
            If ommitted, then the shape is automatically set
            * Only valid if subplots=True
            	(rows,columns)
        shared_xaxes : bool
            If True, subplots in the same grid column have one common
            shared x-axis at the bottom of the grid.
        shared_yaxes : bool
            If True, subplots in the same grid row have one common
            shared y-axis at the left of the grid.
        subplot_titles : bool
            If True, chart titles are displayed
            at the top of each subplot.
        subplots : bool
            If True then each trace is placed in a subplot
        vertical_spacing : float [0-1]
            Space between subplot rows

    AXIS
        logx : bool
            Sets the x axis to be of logarithmic scale
        logy : bool
            Sets the y axis to be of logarithmic scale
        logz : bool
            Sets the z axis to be of logarithmic scale
        xrange : tuple
            Sets the range for the x axis
            	(lower_bound,upper_bound)
        yrange : tuple
            Sets the range for the y axis
            	(lower_bound,upper_bound)

EXAMPLES
    >> cf.datagen.bars(10,5).iplot(kind='bar')
    >> cf.datagen.bars().iplot(kind='bar',orientation='h')

In [18]:
cf.help()

Use 'cufflinks.help(figure)' to see the list of available parameters for the given figure.
Use 'DataFrame.iplot(kind=figure)' to plot the respective figure
Figures:
	bar
	box
	bubble
	bubble3d
	candle
	choroplet
	distplot
	heatmap
	histogram
	ohlc
	pie
	ratio
	scatter
	scatter3d
	scattergeo
	spread
	surface
	violin

---
3. 지불방법 주로?

In [4]:
import pandas as pd

customers = pd.read_csv('00_data/olist_customers_dataset.csv', encoding = 'utf-8-sig')
payments = pd.read_csv('00_data/olist_order_payments_dataset.csv', encoding = 'utf-8-sig')

payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [7]:
#olist_customers_dataset.csv
#olist_geolocation_dataset.csv
#olist_order_items_dataset.csv
#olist_order_payments_dataset.csv
#olist_order_reviews_dataset.csv
#olist_orders_dataset.csv
#olist_sellers_dataset.csv
#olist_products_dataset.csv

order_review = pd.read_csv('00_data/olist_order_reviews_dataset.csv', encoding = 'utf-8-sig')
order_review.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [8]:
orders = pd.read_csv('00_data/olist_orders_dataset.csv', encoding = 'utf-8-sig')
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [11]:
orders['order_status'].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [12]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [14]:
orders['order_status'].value_counts()

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [19]:
orders[orders['order_status']=='delivered'].count()

order_id                         96478
customer_id                      96478
order_status                     96478
order_purchase_timestamp         96478
order_approved_at                96464
order_delivered_carrier_date     96476
order_delivered_customer_date    96470
order_estimated_delivery_date    96478
dtype: int64

In [20]:
print(96478+1107)

97585

In [21]:
orders_copy = orders.dropna().copy()

In [22]:
orders_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96461 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96461 non-null  object
 1   customer_id                    96461 non-null  object
 2   order_status                   96461 non-null  object
 3   order_purchase_timestamp       96461 non-null  object
 4   order_approved_at              96461 non-null  object
 5   order_delivered_carrier_date   96461 non-null  object
 6   order_delivered_customer_date  96461 non-null  object
 7   order_estimated_delivery_date  96461 non-null  object
dtypes: object(8)
memory usage: 6.6+ MB

In [23]:
orders_copy['order_status'].value_counts()

delivered    96455
canceled         6
Name: order_status, dtype: int64

In [24]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

---
- 주문개수가 안맞아

In [25]:
payments.nunique()

order_id                99440
payment_sequential         29
payment_type                5
payment_installments       24
payment_value           29077
dtype: int64

In [30]:
payments.groupby('order_id')['payment_value'].count().sort_values(ascending = False).head(50)
#                                             카운트빼먹

order_id
fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
285c2e15bebd4ac83635ccc563dc71f4    22
895ab968e7bb0d5659d16cd74cd1650c    21
fedcd9f7ccdc8cba3a18defedd1a5547    19
ee9ca989fc93ba09a6eddc250ce01742    19
21577126c19bf11a0b91592e5844ba78    15
4bfcba9e084f46c8e3cb49b0fa6e6159    15
4689b1816de42507a7d63a4617383c59    14
3c58bffb70dcf45f12bdf66a3c215905    14
4fb76fa13b108a0d0478483421b0992c    13
73df5d6adbeea12c8ae03df93f346e86    13
cf101c3abd3c061ca9f78c1bbb1125af    13
6d58638e32674bebee793a47ac4cbadc    12
c6492b842ac190db807c15aff21a7dd6    12
d744783ed2ace06cac647a9e64dcbcfd    12
68986e4324f6a21481df4e6e89abcf01    12
67d83bd36ec2c7fb557742fb58837659    12
1a611328643ae11146ba09a4425d2e12    12
465c2e1bee4561cb39e0db8c5993aafc    12
1d9a9731b9c10fc9cba74e6f74782e8b    12
b0f913cb83681e8a8563b96b641b3e1b    11
4069c489933782af79afcd3a0e4d693c    11
d2e18fcf7ecfd667af457a9e7034c86a    11
370e2e6c1a9fd451eb7f0852daa3b006    11
1be51feefcd481bee3118900e6777057    11
654da57158d96035814657b5143bb11b    11
0bbb3f7791a87d0307555e57da3a1ff1    11
27a940efdd448db29463b53ea0cfa2f4    11
1e6f350c900ca357945126e20117d293    10
ccc1762fa4bea334f80983e3f3a933b6    10
364f451ee38a4268d7c15d317021eb35    10
48f2d0b950703bfb145b7c3c0641b4bb    10
f8a8d05d951ce7e359dfd0c67f1de017    10
8ca5bdac5ebe8f2d6fc9171d5ebc906a     9
dc96a12713fb7cbfd8feac4ab0b8f2a2     9
24ceed9729a86f5e36fd61ae94183817     9
54220fcc516cabe9ec84b210c0765ef2     9
1057bf6391c17f9b6960dd996029e1dc     9
bbc7d177c97f61d86a7486d86ed7a8b2     9
29182856a24c6eeb1d7b81ba1fe63190     9
eb6b32a82d2459d0ce7f2089f9eba0f2     9
0b398dbb3e7c81005f3c69b01488c4c9     9
91750e4d3d89e619cd557a6da400be06     8
d3f44296d90a42d3ec4b52b18654e87a     8
242bcea719638feb8c102d38e67a4977     8
dbb0da1abcce904dc52dd60ae31d5c12     8
59d02be1c50fb6e6930cafd6ff6a31e5     8
a7d73128b7dc2644c342e7495ebe8e3f     8
4243bef9583d689a9c8fe6f055cef332     8
Name: payment_value, dtype: int64

In [31]:
payments[payments['order_id'] == 'fa65dad1b0e818e3ccc5cb0e39231352']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
4885,fa65dad1b0e818e3ccc5cb0e39231352,27,voucher,1,66.02
9985,fa65dad1b0e818e3ccc5cb0e39231352,4,voucher,1,29.16
14321,fa65dad1b0e818e3ccc5cb0e39231352,1,voucher,1,3.71
17274,fa65dad1b0e818e3ccc5cb0e39231352,9,voucher,1,1.08
19565,fa65dad1b0e818e3ccc5cb0e39231352,10,voucher,1,12.86
23074,fa65dad1b0e818e3ccc5cb0e39231352,2,voucher,1,8.51
24879,fa65dad1b0e818e3ccc5cb0e39231352,25,voucher,1,3.68
28330,fa65dad1b0e818e3ccc5cb0e39231352,5,voucher,1,0.66
29648,fa65dad1b0e818e3ccc5cb0e39231352,6,voucher,1,5.02
32519,fa65dad1b0e818e3ccc5cb0e39231352,11,voucher,1,4.03
36822,fa65dad1b0e818e3ccc5cb0e39231352,14,voucher,1,0.00
39108,fa65dad1b0e818e3ccc5cb0e39231352,29,voucher,1,19.26
39111,fa65dad1b0e818e3ccc5cb0e39231352,28,voucher,1,29.05
63369,fa65dad1b0e818e3ccc5cb0e39231352,15,voucher,1,14.04
65641,fa65dad1b0e818e3ccc5cb0e39231352,3,voucher,1,2.95
68853,fa65dad1b0e818e3ccc5cb0e39231352,8,voucher,1,26.02
73537,fa65dad1b0e818e3ccc5cb0e39231352,12,voucher,1,3.60
74239,fa65dad1b0e818e3ccc5cb0e39231352,21,voucher,1,4.11
74721,fa65dad1b0e818e3ccc5cb0e39231352,19,voucher,1,5.02
77885,fa65dad1b0e818e3ccc5cb0e39231352,13,voucher,1,0.00
78050,fa65dad1b0e818e3ccc5cb0e39231352,16,voucher,1,12.86
79587,fa65dad1b0e818e3ccc5cb0e39231352,26,voucher,1,28.27
79670,fa65dad1b0e818e3ccc5cb0e39231352,17,voucher,1,3.72
80321,fa65dad1b0e818e3ccc5cb0e39231352,18,voucher,1,0.73
82593,fa65dad1b0e818e3ccc5cb0e39231352,7,voucher,1,0.32
85166,fa65dad1b0e818e3ccc5cb0e39231352,23,voucher,1,18.86
93337,fa65dad1b0e818e3ccc5cb0e39231352,20,voucher,1,150.00
99213,fa65dad1b0e818e3ccc5cb0e39231352,24,voucher,1,0.42
100606,fa65dad1b0e818e3ccc5cb0e39231352,22,voucher,1,4.03

In [32]:
payments[payments['order_id'] == 'ccf804e764ed5650cd8759557269dc13']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
4346,ccf804e764ed5650cd8759557269dc13,19,voucher,1,1.68
14362,ccf804e764ed5650cd8759557269dc13,1,credit_card,1,2.20
16279,ccf804e764ed5650cd8759557269dc13,14,voucher,1,0.97
18876,ccf804e764ed5650cd8759557269dc13,15,voucher,1,1.11
21447,ccf804e764ed5650cd8759557269dc13,6,voucher,1,2.26
32393,ccf804e764ed5650cd8759557269dc13,26,voucher,1,23.10
38001,ccf804e764ed5650cd8759557269dc13,2,voucher,1,1.45
39132,ccf804e764ed5650cd8759557269dc13,25,voucher,1,1.53
40369,ccf804e764ed5650cd8759557269dc13,5,voucher,1,2.69
40387,ccf804e764ed5650cd8759557269dc13,3,voucher,1,1.15
41414,ccf804e764ed5650cd8759557269dc13,7,voucher,1,1.60
45857,ccf804e764ed5650cd8759557269dc13,11,voucher,1,2.97
49137,ccf804e764ed5650cd8759557269dc13,13,voucher,1,1.04
51816,ccf804e764ed5650cd8759557269dc13,24,voucher,1,2.79
53622,ccf804e764ed5650cd8759557269dc13,22,voucher,1,1.06
60241,ccf804e764ed5650cd8759557269dc13,23,voucher,1,1.03
71309,ccf804e764ed5650cd8759557269dc13,10,voucher,1,1.20
76655,ccf804e764ed5650cd8759557269dc13,20,voucher,1,0.99
79324,ccf804e764ed5650cd8759557269dc13,8,voucher,1,2.42
87981,ccf804e764ed5650cd8759557269dc13,9,voucher,1,0.97
88364,ccf804e764ed5650cd8759557269dc13,18,voucher,1,1.40
91510,ccf804e764ed5650cd8759557269dc13,12,voucher,1,2.45
93531,ccf804e764ed5650cd8759557269dc13,21,voucher,1,1.45
94873,ccf804e764ed5650cd8759557269dc13,16,voucher,1,1.07
95153,ccf804e764ed5650cd8759557269dc13,4,voucher,1,0.99
96566,ccf804e764ed5650cd8759557269dc13,17,voucher,1,1.11

In [33]:
payments[payments['order_id'] == '285c2e15bebd4ac83635ccc563dc71f4']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
19078,285c2e15bebd4ac83635ccc563dc71f4,14,voucher,1,1.75
25661,285c2e15bebd4ac83635ccc563dc71f4,17,voucher,1,1.23
27824,285c2e15bebd4ac83635ccc563dc71f4,22,voucher,1,1.05
31264,285c2e15bebd4ac83635ccc563dc71f4,11,voucher,1,1.03
31642,285c2e15bebd4ac83635ccc563dc71f4,16,voucher,1,1.96
38564,285c2e15bebd4ac83635ccc563dc71f4,7,voucher,1,1.14
41209,285c2e15bebd4ac83635ccc563dc71f4,9,voucher,1,1.05
43258,285c2e15bebd4ac83635ccc563dc71f4,13,voucher,1,4.07
44773,285c2e15bebd4ac83635ccc563dc71f4,18,voucher,1,1.70
51943,285c2e15bebd4ac83635ccc563dc71f4,2,voucher,1,1.24
59149,285c2e15bebd4ac83635ccc563dc71f4,6,voucher,1,2.85
63398,285c2e15bebd4ac83635ccc563dc71f4,1,credit_card,1,1.62
63599,285c2e15bebd4ac83635ccc563dc71f4,12,voucher,1,2.24
75172,285c2e15bebd4ac83635ccc563dc71f4,3,voucher,1,1.40
76134,285c2e15bebd4ac83635ccc563dc71f4,5,voucher,1,1.75
77796,285c2e15bebd4ac83635ccc563dc71f4,19,voucher,1,1.00
81583,285c2e15bebd4ac83635ccc563dc71f4,4,voucher,1,2.89
82041,285c2e15bebd4ac83635ccc563dc71f4,21,voucher,1,3.08
82117,285c2e15bebd4ac83635ccc563dc71f4,8,voucher,1,1.23
83808,285c2e15bebd4ac83635ccc563dc71f4,20,voucher,1,1.09
88775,285c2e15bebd4ac83635ccc563dc71f4,10,voucher,1,2.78
92329,285c2e15bebd4ac83635ccc563dc71f4,15,voucher,1,2.70

In [34]:
payments[payments['order_id'] == '895ab968e7bb0d5659d16cd74cd1650c']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
4315,895ab968e7bb0d5659d16cd74cd1650c,17,voucher,1,16.70
9319,895ab968e7bb0d5659d16cd74cd1650c,1,voucher,1,2.61
19993,895ab968e7bb0d5659d16cd74cd1650c,13,voucher,1,16.70
21884,895ab968e7bb0d5659d16cd74cd1650c,16,voucher,1,16.70
29490,895ab968e7bb0d5659d16cd74cd1650c,19,voucher,1,0.24
41528,895ab968e7bb0d5659d16cd74cd1650c,4,voucher,1,2.61
46437,895ab968e7bb0d5659d16cd74cd1650c,21,voucher,1,0.28
52639,895ab968e7bb0d5659d16cd74cd1650c,2,voucher,1,2.61
53054,895ab968e7bb0d5659d16cd74cd1650c,12,voucher,1,16.70
56641,895ab968e7bb0d5659d16cd74cd1650c,18,voucher,1,1.31
58817,895ab968e7bb0d5659d16cd74cd1650c,8,voucher,1,0.41
66344,895ab968e7bb0d5659d16cd74cd1650c,11,voucher,1,16.70
68148,895ab968e7bb0d5659d16cd74cd1650c,3,voucher,1,2.61
72756,895ab968e7bb0d5659d16cd74cd1650c,5,voucher,1,2.61
75908,895ab968e7bb0d5659d16cd74cd1650c,10,voucher,1,16.70
76975,895ab968e7bb0d5659d16cd74cd1650c,7,voucher,1,2.60
81952,895ab968e7bb0d5659d16cd74cd1650c,15,voucher,1,16.70
84310,895ab968e7bb0d5659d16cd74cd1650c,20,voucher,1,4.61
86294,895ab968e7bb0d5659d16cd74cd1650c,14,voucher,1,16.70
87611,895ab968e7bb0d5659d16cd74cd1650c,9,voucher,1,2.61
89944,895ab968e7bb0d5659d16cd74cd1650c,6,voucher,1,2.61

---
- voucher가 아닌 부분 발견

In [39]:
check1 = payments[payments['order_id'] == '285c2e15bebd4ac83635ccc563dc71f4']
check1[check1['payment_type'] != 'voucher']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
63398,285c2e15bebd4ac83635ccc563dc71f4,1,credit_card,1,1.62

In [41]:
check1[check1['payment_type'] != 'voucher']['payment_value']

63398    1.62
Name: payment_value, dtype: float64

In [42]:
check1[check1['payment_type'] != 'voucher'].index

Int64Index([63398], dtype='int64')

In [38]:
payments_check = payments.groupby('order_id')['payment_value'].count().sort_values(ascending = False).head(50)
payments_check_list = payments_check.index.to_list()
payments_check_list

['fa65dad1b0e818e3ccc5cb0e39231352',
 'ccf804e764ed5650cd8759557269dc13',
 '285c2e15bebd4ac83635ccc563dc71f4',
 '895ab968e7bb0d5659d16cd74cd1650c',
 'fedcd9f7ccdc8cba3a18defedd1a5547',
 'ee9ca989fc93ba09a6eddc250ce01742',
 '21577126c19bf11a0b91592e5844ba78',
 '4bfcba9e084f46c8e3cb49b0fa6e6159',
 '4689b1816de42507a7d63a4617383c59',
 '3c58bffb70dcf45f12bdf66a3c215905',
 '4fb76fa13b108a0d0478483421b0992c',
 '73df5d6adbeea12c8ae03df93f346e86',
 'cf101c3abd3c061ca9f78c1bbb1125af',
 '6d58638e32674bebee793a47ac4cbadc',
 'c6492b842ac190db807c15aff21a7dd6',
 'd744783ed2ace06cac647a9e64dcbcfd',
 '68986e4324f6a21481df4e6e89abcf01',
 '67d83bd36ec2c7fb557742fb58837659',
 '1a611328643ae11146ba09a4425d2e12',
 '465c2e1bee4561cb39e0db8c5993aafc',
 '1d9a9731b9c10fc9cba74e6f74782e8b',
 'b0f913cb83681e8a8563b96b641b3e1b',
 '4069c489933782af79afcd3a0e4d693c',
 'd2e18fcf7ecfd667af457a9e7034c86a',
 '370e2e6c1a9fd451eb7f0852daa3b006',
 '1be51feefcd481bee3118900e6777057',
 '654da57158d96035814657b5143bb11b',
 '0bbb3f7791a87d0307555e57da3a1ff1',
 '27a940efdd448db29463b53ea0cfa2f4',
 '1e6f350c900ca357945126e20117d293',
 'ccc1762fa4bea334f80983e3f3a933b6',
 '364f451ee38a4268d7c15d317021eb35',
 '48f2d0b950703bfb145b7c3c0641b4bb',
 'f8a8d05d951ce7e359dfd0c67f1de017',
 '8ca5bdac5ebe8f2d6fc9171d5ebc906a',
 'dc96a12713fb7cbfd8feac4ab0b8f2a2',
 '24ceed9729a86f5e36fd61ae94183817',
 '54220fcc516cabe9ec84b210c0765ef2',
 '1057bf6391c17f9b6960dd996029e1dc',
 'bbc7d177c97f61d86a7486d86ed7a8b2',
 '29182856a24c6eeb1d7b81ba1fe63190',
 'eb6b32a82d2459d0ce7f2089f9eba0f2',
 '0b398dbb3e7c81005f3c69b01488c4c9',
 '91750e4d3d89e619cd557a6da400be06',
 'd3f44296d90a42d3ec4b52b18654e87a',
 '242bcea719638feb8c102d38e67a4977',
 'dbb0da1abcce904dc52dd60ae31d5c12',
 '59d02be1c50fb6e6930cafd6ff6a31e5',
 'a7d73128b7dc2644c342e7495ebe8e3f',
 '4243bef9583d689a9c8fe6f055cef332']

In [44]:
for check in payments_check_list:
    not_voucher = payments[payments['order_id'] == check]
    if not_voucher['payment_type'] == 'voucher':
        pass
    else:
        print(not_voucher.index)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [45]:
for check in payments_check_list:
    not_voucher = payments[payments['order_id'] == check]
    print(not_voucher['payment_type'])

4885      voucher
9985      voucher
14321     voucher
17274     voucher
19565     voucher
23074     voucher
24879     voucher
28330     voucher
29648     voucher
32519     voucher
36822     voucher
39108     voucher
39111     voucher
63369     voucher
65641     voucher
68853     voucher
73537     voucher
74239     voucher
74721     voucher
77885     voucher
78050     voucher
79587     voucher
79670     voucher
80321     voucher
82593     voucher
85166     voucher
93337     voucher
99213     voucher
100606    voucher
Name: payment_type, dtype: object
4346         voucher
14362    credit_card
16279        voucher
18876        voucher
21447        voucher
32393        voucher
38001        voucher
39132        voucher
40369        voucher
40387        voucher
41414        voucher
45857        voucher
49137        voucher
51816        voucher
53622        voucher
60241        voucher
71309        voucher
76655        voucher
79324        voucher
87981        voucher
88364        voucher
91510        voucher
93531        voucher
94873        voucher
95153        voucher
96566        voucher
Name: payment_type, dtype: object
19078        voucher
25661        voucher
27824        voucher
31264        voucher
31642        voucher
38564        voucher
41209        voucher
43258        voucher
44773        voucher
51943        voucher
59149        voucher
63398    credit_card
63599        voucher
75172        voucher
76134        voucher
77796        voucher
81583        voucher
82041        voucher
82117        voucher
83808        voucher
88775        voucher
92329        voucher
Name: payment_type, dtype: object
4315     voucher
9319     voucher
19993    voucher
21884    voucher
29490    voucher
41528    voucher
46437    voucher
52639    voucher
53054    voucher
56641    voucher
58817    voucher
66344    voucher
68148    voucher
72756    voucher
75908    voucher
76975    voucher
81952    voucher
84310    voucher
86294    voucher
87611    voucher
89944    voucher
Name: payment_type, dtype: object
7548          voucher
9665      credit_card
14352         voucher
15264         voucher
15930         voucher
18175         voucher
27087         voucher
32396         voucher
35657         voucher
36869         voucher
44641         voucher
45197         voucher
48288         voucher
62558         voucher
64520         voucher
87292         voucher
87783         voucher
95493         voucher
103569        voucher
Name: payment_type, dtype: object
2099         voucher
8910     credit_card
29562        voucher
35428        voucher
36562        voucher
38028        voucher
47453        voucher
49285        voucher
50071        voucher
52343        voucher
64444        voucher
64576        voucher
68844        voucher
75144        voucher
75433        voucher
85552        voucher
86515        voucher
94178        voucher
96065        voucher
Name: payment_type, dtype: object
4439     voucher
8721     voucher
9104     voucher
24774    voucher
30664    voucher
38516    voucher
39811    voucher
40942    voucher
46616    voucher
64586    voucher
67574    voucher
71725    voucher
76153    voucher
91141    voucher
96224    voucher
Name: payment_type, dtype: object
4933          voucher
8416          voucher
14552         voucher
21132         voucher
29897         voucher
40166         voucher
51946         voucher
54948         voucher
59449         voucher
61914         voucher
79817         voucher
87214     credit_card
92000         voucher
95135         voucher
100487        voucher
Name: payment_type, dtype: object
1769         voucher
5091         voucher
11673        voucher
13960        voucher
13997        voucher
31004        voucher
48253        voucher
54311    credit_card
74588        voucher
81055        voucher
85415        voucher
85643        voucher
87728        voucher
98464        voucher
Name: payment_type, dtype: object
1587      voucher
5918      voucher
6279      voucher
7198      voucher
34519     voucher
45812     voucher
50303     voucher
54641     voucher
67382     voucher
79714     voucher
80262     voucher
90473     voucher
101022    voucher
103485    voucher
Name: payment_type, dtype: object
987      voucher
9458     voucher
15005    voucher
15848    voucher
17016    voucher
20186    voucher
32209    voucher
58742    voucher
59098    voucher
60125    voucher
73944    voucher
85878    voucher
97191    voucher
Name: payment_type, dtype: object
11579         voucher
13986     credit_card
19984         voucher
23068         voucher
30213         voucher
40530         voucher
44977         voucher
62211         voucher
79769         voucher
91378         voucher
97378         voucher
97768         voucher
103136        voucher
Name: payment_type, dtype: object
3884      voucher
6940      voucher
16558     voucher
25508     voucher
27504     voucher
34377     voucher
49167     voucher
54242     voucher
58288     voucher
88252     voucher
95178     voucher
100518    voucher
103747    voucher
Name: payment_type, dtype: object
3930      voucher
6142      voucher
36450     voucher
42601     voucher
45522     voucher
46391     voucher
47112     voucher
50102     voucher
66029     voucher
70381     voucher
97391     voucher
100480    voucher
Name: payment_type, dtype: object
1632     credit_card
12517        voucher
19338        voucher
30158        voucher
32926        voucher
38439        voucher
44136        voucher
50671        voucher
59139        voucher
80685        voucher
81871        voucher
95468        voucher
Name: payment_type, dtype: object
4399          voucher
7441          voucher
17037         voucher
24976         voucher
35665         voucher
54550         voucher
57136         voucher
59490     credit_card
88581         voucher
94679         voucher
99198         voucher
102685        voucher
Name: payment_type, dtype: object
679      voucher
7258     voucher
11628    voucher
11862    voucher
24710    voucher
26287    voucher
32872    voucher
35884    voucher
41785    voucher
72404    voucher
82378    voucher
86373    voucher
Name: payment_type, dtype: object
6361     voucher
7517     voucher
9801     voucher
14524    voucher
18880    voucher
27698    voucher
29990    voucher
40179    voucher
48507    voucher
66630    voucher
76168    voucher
81984    voucher
Name: payment_type, dtype: object
14215         voucher
29808         voucher
41710         voucher
42442     credit_card
51220         voucher
52367         voucher
55316         voucher
64228         voucher
71197         voucher
84417         voucher
98624         voucher
100990        voucher
Name: payment_type, dtype: object
19859         voucher
27019         voucher
49336         voucher
55396         voucher
58351         voucher
60266         voucher
61221         voucher
61729         voucher
77634     credit_card
93739         voucher
99045         voucher
103444        voucher
Name: payment_type, dtype: object
1448          voucher
12719         voucher
19566         voucher
20412         voucher
22352         voucher
32461         voucher
48951         voucher
82670     credit_card
88660         voucher
91907         voucher
94736         voucher
102734        voucher
Name: payment_type, dtype: object
21077     voucher
32888     voucher
44527     voucher
45977     voucher
51025     voucher
53528     voucher
59137     voucher
61408     voucher
63848     voucher
73852     voucher
103161    voucher
Name: payment_type, dtype: object
22534         voucher
27314         voucher
40832         voucher
43894         voucher
50712         voucher
65216     credit_card
70089         voucher
75373         voucher
79236         voucher
83061         voucher
103463        voucher
Name: payment_type, dtype: object
14216        voucher
16744        voucher
22477    credit_card
30959        voucher
33011        voucher
36572        voucher
51633        voucher
62047        voucher
71615        voucher
74609        voucher
98628        voucher
Name: payment_type, dtype: object
1132         voucher
3256         voucher
3507     credit_card
15123        voucher
48985        voucher
51183        voucher
56747        voucher
69058        voucher
80526        voucher
81335        voucher
92016        voucher
Name: payment_type, dtype: object
1517     voucher
2707     voucher
9813     voucher
12024    voucher
38094    voucher
48788    voucher
64044    voucher
73279    voucher
83990    voucher
84296    voucher
97321    voucher
Name: payment_type, dtype: object
6506     voucher
7698     voucher
15266    voucher
20445    voucher
27836    voucher
40495    voucher
47607    voucher
48504    voucher
56346    voucher
68192    voucher
96815    voucher
Name: payment_type, dtype: object
2685         voucher
23387        voucher
31570        voucher
39298        voucher
42371        voucher
49652        voucher
53334        voucher
71125        voucher
73354        voucher
92290    credit_card
99033        voucher
Name: payment_type, dtype: object

5959          voucher
11663         voucher
24256         voucher
36477     credit_card
51046         voucher
64450         voucher
66074         voucher
77830         voucher
78365         voucher
93979         voucher
102443        voucher
Name: payment_type, dtype: object
24226     credit_card
30843         voucher
35570         voucher
47011         voucher
65319         voucher
74835         voucher
77530         voucher
83202         voucher
86473         voucher
101830        voucher
Name: payment_type, dtype: object
10788        voucher
28263    credit_card
42732        voucher
45722        voucher
46426        voucher
57563        voucher
60996        voucher
62511        voucher
73252        voucher
89612        voucher
Name: payment_type, dtype: object
4576     voucher
8390     voucher
9910     voucher
14214    voucher
18778    voucher
42716    voucher
44266    voucher
60571    voucher
93841    voucher
97431    voucher
Name: payment_type, dtype: object
4599     voucher
39558    voucher
61259    voucher
72053    voucher
75962    voucher
79274    voucher
81554    voucher
82137    voucher
90845    voucher
96177    voucher
Name: payment_type, dtype: object
13353    voucher
20533    voucher
33961    voucher
53450    voucher
55207    voucher
56844    voucher
67512    voucher
91987    voucher
94536    voucher
95173    voucher
Name: payment_type, dtype: object
752          voucher
3675         voucher
8191         voucher
15778        voucher
37465    credit_card
49967        voucher
69644        voucher
78419        voucher
83047        voucher
Name: payment_type, dtype: object
4139         voucher
39210        voucher
55240        voucher
62006        voucher
65590        voucher
69196        voucher
85097        voucher
89237        voucher
90816    credit_card
Name: payment_type, dtype: object
9490         voucher
50779        voucher
62913        voucher
64124        voucher
69120        voucher
73595        voucher
76732        voucher
80754        voucher
99783    credit_card
Name: payment_type, dtype: object
2821         voucher
9065         voucher
31051        voucher
42805        voucher
44693        voucher
46909        voucher
72901        voucher
75212        voucher
99549    credit_card
Name: payment_type, dtype: object
6054          voucher
28191         voucher
33919         voucher
65618         voucher
65872     credit_card
65908         voucher
73815         voucher
78216         voucher
101763        voucher
Name: payment_type, dtype: object
19546        voucher
25739        voucher
28481    credit_card
34630        voucher
52655        voucher
60325        voucher
63686        voucher
72765        voucher
96925        voucher
Name: payment_type, dtype: object
2809     voucher
13817    voucher
25984    voucher
46235    voucher
49275    voucher
54941    voucher
61834    voucher
68654    voucher
93533    voucher
Name: payment_type, dtype: object
23825     voucher
24533     voucher
35967     voucher
40833     voucher
41335     voucher
53261     voucher
61223     voucher
78287     voucher
102840    voucher
Name: payment_type, dtype: object
21423        voucher
22791        voucher
26345        voucher
46753    credit_card
60810        voucher
68246        voucher
74352        voucher
81010        voucher
87463        voucher
Name: payment_type, dtype: object
21267        voucher
21869        voucher
37015        voucher
38466        voucher
48942        voucher
54084    credit_card
58003        voucher
74815        voucher
Name: payment_type, dtype: object
354      voucher
11042    voucher
14550    voucher
22675    voucher
29329    voucher
31117    voucher
39556    voucher
86498    voucher
Name: payment_type, dtype: object
16781         voucher
28617         voucher
33888         voucher
37267         voucher
47844         voucher
59500         voucher
73853     credit_card
100890        voucher
Name: payment_type, dtype: object
2652         voucher
28198    credit_card
30717        voucher
36775        voucher
42824        voucher
47379        voucher
50627        voucher
77238        voucher
Name: payment_type, dtype: object
1312     voucher
4829     voucher
12231    voucher
18205    voucher
46039    voucher
75836    voucher
78671    voucher
82338    voucher
Name: payment_type, dtype: object
16344    voucher
22716    voucher
40249    voucher
44284    voucher
84846    voucher
88691    voucher
95529    voucher
99282    voucher
Name: payment_type, dtype: object
5844     voucher
13143    voucher
16426    voucher
24930    voucher
26102    voucher
33520    voucher
84626    voucher
94929    voucher
Name: payment_type, dtype: object

In [48]:
for check in payments_check_list:
    not_voucher = payments[payments['order_id'] == check]
    print(not_voucher['payment_type'].count(), not_voucher[not_voucher['payment_type'] == 'credit_card']['payment_type'].count())

29 0
26 1
22 1
21 0
19 1
19 1
15 0
15 1
14 1
14 0
13 0
13 1
13 0
12 0
12 1
12 1
12 0
12 0
12 1
12 1
12 1
11 0
11 1
11 1
11 1
11 0
11 0
11 1
11 1
10 1
10 1
10 0
10 0
10 0
9 1
9 1
9 1
9 1
9 1
9 1
9 0
9 0
9 1
8 1
8 0
8 1
8 1
8 0
8 0
8 0

---
payment  order_id 통합

In [50]:
payments_group_order = payments.drop_duplicates(subset = 'order_id', keep = 'voucher').copy()

ValueError: keep must be either "first", "last" or False

In [53]:
payments_group_order = payments.drop_duplicates(subset = 'order_id', keep = 'first').copy()
payments_group_order.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99440 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              99440 non-null  object
 1   payment_sequential    99440 non-null  int64
 2   payment_type          99440 non-null  object
 3   payment_installments  99440 non-null  int64
 4   payment_value         99440 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.6+ MB

####  ㄴ 여기서 나중에 주문중복리스트를 뽑아서 payment_type 을 voucher 로 바꿔주는 느낌으로

####  ㄴㄴ 아근데 이러면 payment_value 가 안합쳐지니까 -> 나중에 이부분 쓰려면 groupby 해야해

orders_payments = pd.merge(orders_copy)

- 다 해놓고 보니까 뭐 merge할 필요가 있나 싶어
- 아 orders는 dropna 진행해서 합치면 정확해지긴 하겠네